<!-- Buttons CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/gh-buttons.css')}}" type="text/css" media="screen" />


<!-- Insert jQuery libraries -->
<link rel="stylesheet" href="{{url_for('static', filename='js/jqueryUI/jquery-ui.min.css')}}">
<script src="{{url_for('static', filename='js/jquery/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jqueryUI/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='js/contextmenu/jquery.ui-contextmenu.min.js')}}"></script>

<!-- Insert moment libraries -->
<script type="text/javascript" src="{{url_for('static', filename='js/dateRangePicker/moment.min.js')}}"></script>

<!-- Insert jQuery data table libraries-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/dataTables/datatables.min.css')}}"/>
<script type="text/javascript" src="{{url_for('static', filename='js/dataTables/datatables.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/dataTables/datetime-moment.js')}}"></script>


<!-- Insert Tooltipster libraries -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/tooltipster.css')}}" />
<script type="text/javascript" src="{{url_for('static', filename='js/tooltipster/jquery.tooltipster.min.js')}}"></script>


<!-- Insert colorbox library (lightbox) -->
<link rel="stylesheet" href="{{url_for('static', filename='js/colorbox/colorbox.css')}}">
<script src="{{url_for('static', filename='js/colorbox/jquery.colorbox-min.js')}}"></script>

<!-- Insert contextmenu library -->
<script src="{{url_for('static', filename='js/contextmenu2/src/jquery.contextMenu.js')}}"></script>
<script src="{{url_for('static', filename='js/contextmenu2/src/jquery.ui.position.js')}}"></script>

<!-- Insert user-made javascript libraries -->
<script src="{{url_for('static', filename='js/globals.js')}}"></script>


<!-- Insert date picker libraries -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/dateRangePicker/bootstrap.css')}}" />
<script type="text/javascript" src="{{url_for('static', filename='js/dateRangePicker/daterangepicker.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/dateRangePicker/daterangepicker.css')}}" />


<!-- Insert flatpickr libraries -->
<link rel="stylesheet" href="{{url_for('static', filename='js/flatpickr/dist/flatpickr.min.css')}}">
<script src="{{url_for('static', filename='js/flatpickr/dist/flatpickr.js')}}"></script>


<!-- Insert alphanumeric libraries -->
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.alphanum.js')}}"></script>


<!-- Insert global css -->
<link rel="stylesheet" href="{{url_for('static', filename='css/regularCSS.css')}}" type="text/css">

<link rel="stylesheet" href="{{url_for('static', filename='css/hamburgers/hamburgers.css')}}" type="text/css" media="screen" />


<!-- jQquery confirm library-->
<link rel="stylesheet" href="{{url_for('static', filename='js/confirm/jquery-confirm.min.css')}}">
<script src="{{url_for('static', filename='js/confirm/jquery-confirm.min.js')}}"></script>


<!-- Snackbar libraries -->
<link href="{{url_for('static', filename='js/noty/lib/noty.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='js/noty/lib/noty.js')}}" type="text/javascript"></script>


<!-- Insert Date Time Picker libraries -->
<script src="{{url_for('static', filename='js/dateTimePicker/jquery-ui-timepicker-addon.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/dateTimePicker/jquery-ui-timepicker-addon.css')}}" />


<!-- Javascript math library -->
<script src="{{url_for('static', filename='js/mathjs/math.min.js')}}"></script>


<!-- Insert slider libraries -->
<script src="{{url_for('static', filename='js/dateRangeSlider/jQDateRangeSlider-min.js')}}"></script>


<!-- Insert multiselect libraries -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/multiselect/css/multi-select.css')}}"/>
<script src="{{url_for('static', filename='js/multiselect/js/jquery.multi-select.js')}}"></script>


<!-- Insert color picker libraries -->
<script src="{{url_for('static', filename='js/colorpicker/spectrum.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='js/colorpicker/spectrum.css')}}" />


<!-- Insert navigation menu libraries -->
<link rel="stylesheet" href="{{url_for('static', filename='js/hiraku/src/hiraku.css')}}" type="text/css">
<script src="{{url_for('static', filename='js/hiraku/src/hiraku.js')}}"></script>


<!-- Insert user made libraries -->
<script src="{{url_for('static', filename='runs/database.js')}}"></script>


<!-- jQuery mousetip package-->
<script type="text/javascript" src="{{url_for('static', filename='js/mousetip/jQuery.mousetip.js')}}"></script>


<!-- jQuery tooltip package-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/tooltipster.css')}}" />
<script type="text/javascript" src="{{url_for('static', filename='js/tooltipster/jquery.tooltipster.min.js')}}"></script>


<!-- Insert colorbox libraries -->
<link rel="stylesheet" href="{{url_for('static', filename='js/colorbox/colorbox.css')}}">
<script src="{{url_for('static', filename='js/colorbox/jquery.colorbox-min.js')}}"></script>


<!-- Insert Plotly libraries-->
<script src="{{url_for('static', filename='js/plotly/plotly-latest.min.js')}}"></script>


<!-- Insert machine parsing library-->
<script type="text/javascript" src="{{url_for('static', filename='js/ua-parser.min.js')}}"></script>


<!-- Insert PDFKit library -->
<script src="{{url_for('static', filename='js/pdfkit.js')}}" type="text/javascript"></script>
<!-- Insert blob-stream library -->
<script src="{{url_for('static', filename='js/blob-stream.js')}}" type="text/javascript"></script>
<!-- Insert base62 library -->
<script src="{{url_for('static', filename='js/jquery.base62.js')}}" type="text/javascript"></script>


<!-- Insert user made libraries -->
<script src="{{url_for('static', filename='data/database.js')}}"></script>
<script src="{{url_for('static', filename='data/interface.js')}}"></script>
<script src="{{url_for('static', filename='data/plotting.js')}}"></script>
<script src="{{url_for('static', filename='data/slider.js')}}"></script>



<link rel="stylesheet" href="{{url_for('static', filename='css/iThing.css')}}" type="text/css" />


<!-- Insert quicksearch library -->
<script type="text/javascript" src="{{url_for('static', filename='js/quicksearch/jquery.quicksearch.js')}}"></script>
