<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Links</title>
	{% include 'imports.html' %}
	<body>
	<style>

	</style>
	<div class="thebody">
	{% include 'menus.html' %}<!-- USE THE menus.html file to import the menus -->
	<div id="main" style="width:100%;display:grid;grid-template-columns:minmax(50px,10%) auto minmax(50px,10%);grid-template-rows:minmax(80px,5%) 92.5% minmax(55px,5%);overflow:hidden;align-items: center;">
		<div class="headerMenu" style="background-color:#333;width:100%;display:table;grid-row:1 / span 2;grid-column: 1 / 3;">
			<div style="width:50%;display:table-cell;text-align:left;padding-left:10px;"><a class="homeIcon" style="cursor:pointer"><img src="/static/hamburger.svg" width="22px" height="22px"></img>  DAQBroker</a><a style="font-size:15px">   Links</a></div>
			<div style="width:50%;display:table-cell;text-align:right;padding-right:10px;"> <a class="hamburger" style="cursor:pointer"><img src="/static/settings2.png" width="25px" height="25px"></img></a></div>
		</div>
		<!--display: flex;align-items: center;justify-content: center;-->
		<!--style="text-align:center;margin:auto;padding-top:20%;padding-bottom:25%;max-width:20%"-->
		<div class="container" hidden style="grid-row:2 / span 1;grid-column: 2 /span 1;margin:auto;">
			<div class="container-inner" style="text-align:center;margin:auto;width:100%">
				
			</div>
		</div>
		<div class="thefooter" style="width:100%;grid-row:3 / span 1;grid-column: 1 / 4;">
			<span id="year"></span> &copy; <a style="color:white" href="http://daqbroker.com">daqbroker.com</a>
		</div>
	</div>
	<script>
		$('#year').append(new Date().getFullYear());
		var fontBig=30;
		var fontRegular=20;
		$('.legend').css({
			'font-size':fontBig+'px'
		});
		
		$(document).ready( function() {
			//Use jinja to store link on javascript
			var theLink = '{{data}}';
			//Make AJAX request here to get the Link info
			$.ajax({
				method: "POST",
				url:"/daqbroker/discoverSettings",
				data:{'_csrf_token':$('body').find('.sessionToken').val()},
				dataType: "json",
				success: function(returned) {
					var serverReturned=returned;
					$.ajax({
						url: '/daqbroker/getLink',
						type: 'POST',
						dataType: "json",
						contentType: "application/json",
						data:JSON.stringify({'link':theLink}),
						success: function(returned){
							var theNewLink=window.location.href.split('/')[0]+'//'+window.location.href.split('/')[2]+'/'+returned.site;
							var newVar={'server':$("#daqbroker_server").val(),'engine': $("#daqbroker_engine").val(),'dbname':returned.variable.dbname,'data':returned.variable}
							sessionStorage.setItem('daqbroker', JSON.stringify(newVar));
							window.location=theNewLink;
						},
						error: function(returned){
							var theConfirm=$.confirm({
								title: 'Error',
								content: 'There was an error collecting your link information, please make sure you are using and updated link (Links are usually only good for 7 days!)<br>You will now be redirected to the main page.',
								autoClose: 'logoutUser|10000',
								type: 'red',
								buttons: {
									logoutUser: {
										text: 'Close',
										btnClass: 'btn-red',
										action: function () {
											theConfirm.close();
										}
									}
								}
							});
						}
					});
				},
				error:function(returned){
					var theConfirm=$.confirm({
						title: 'Error',
						content: 'There was an error collecting server settings, please contact your network administrator to handle this issue',
						autoClose: 'logoutUser|10000',
						type: 'red',
						buttons: {
							logoutUser: {
								text: 'Close',
								btnClass: 'btn-red',
								action: function () {
									window.location="/daqbroker/logout";
								}
							}
						}
					});
				}
			})
			/*$.confirm({
				title    :  'DAQBroker',
				content  :  $('.container-inner').html(),
				buttons:{
					formSubmit: {
						text: 'Login',
						btnClass: 'btn-blue',
						keys: ['enter'],
						action: function () {
							this.$content.find('form').submit();
						}
					}
				},
				onContentReady: function(data, status, xhr){
					console.log($('.infoMsgs').find('p'));
					$('.infoMsgs').find('p').each(function(){
						if($(this).prop('class') in messagesClasses){
							$(this).remove();
						}
						else{
							messagesClasses.push($(this).prop('class'));
						}
					});
					var theMainCntent=this.$content;
					this.$content.find('input , select').on('keypress', function (e) {
						var key = e.which || e.keyCode;
						if (key === 13) { // 13 is enter
							theMainCntent.find('form').submit();
						}
					});
				},
			});*/
		});
		
	</script>
	</body>
</html>