<!DOCTYPE html>

<html>
 <head>
	
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include 'imports.html' %}
  <title>Data</title>
 </head>
 <body>
<div class="thebody">
<div id="main">

<div class="headerMenu" style="background-color:#333;width:100%;display:table">
	<div style="width:50%;display:table-cell;text-align:left;padding-left:10px;"><a class="homeIcon" style="cursor:pointer"><img src="/static/hamburger.svg" width="22px" height="22px"></img>  DAQBroker</a><a style="font-size:15px">   Data</a></div>
	<div style="width:50%;display:table-cell;text-align:right;padding-right:10px;"> <a class="hamburger" style="cursor:pointer"><img src="/static/settings2.png" width="25px" height="25px"></img></a></div>
</div>


{% include 'menus.html' %}<!-- USE THE menus.html file to import the menus -->

<script>

$('body').css({'min-height':window.height});


$(document).ready(function(){

	user={};
	checkSettings(checkPage,getLimits);
});

var timeHidden=0;
var isAdmin=false;

var window_focus=true;
$(window).focus(function() {
	window_focus = true;
}).blur(function() {
	window_focus = false;
});

var allowRefresh=true;

window.setInterval(function(){
	if(window_focus){
		if(timeHidden>300 && allowRefresh && !$("#onlinePlot").prop('checked')){
			//location.reload();
			poop="Poop";
		}
		else{
			timeHidden=0;
		}
	}
	else{
		timeHidden=timeHidden+1;
	}
}, 1000);


var globalTimeLims=[];
var globalRunlist=[];

function getLimits(){
	$.ajax({
		url: '/instruments/getInstLimits',
		type: 'POST',
		dataType: "json",
		data:{'database':dbname},
		async:false,
		success: function(returned){
			var instrumentsTime=returned;
			instrumentsTime.min=Number(instrumentsTime.min);
			$.ajax({
				url: '/runs/getRunList',
				type: 'POST',
				dataType: "json",
				data:{'database':dbname},
				async:false,
				success: function(returned){
					globalRunlist=returned;
					if(returned.length>0){
						if(instrumentsTime.max>0){
							if(Number(returned[0].start)>Number(instrumentsTime.min)){
								globalTimeLims[0]=Number(instrumentsTime.min);
							}
							else{
								globalTimeLims[0]=Number(returned[0].start);
							}
							if('end' in returned[0]){
								var toCompare=returned[returned.length-1].end;
							}
							else{
								var toCompare=returned[returned.length-1].start;
							}
							if(Number(toCompare)<Number(instrumentsTime.max)){
								globalTimeLims[1]=Number(instrumentsTime.max);
							}
							else{
								globalTimeLims[1]=Number(toCompare);
							}
						}
						else{
							globalTimeLims[0]=Number(returned[0].start);
							if('end' in returned[0]){
								globalTimeLims[1]=Number(returned[returned.length-1].end);
							}
							else{
								globalTimeLims[1]=Number(returned[returned.length-1].start);
							}
						}
					}
					else{
						globalTimeLims[1]=instrumentsTime.max;
						globalTimeLims[0]=instrumentsTime.min;
					}
				},
				error: function(returned){
					alert("There was an error processing your request");
				}
			});
		},
		error: function(returned){
			alert('There was an error getting the instrument time limints');
		}
	});
}

/*setTimeout(function() { checkDatabase(checkPage); }, 1000);*/
</script>

<div class="lightboxable-outer">
	<div class="lightboxable"></div>
</div>
<div class="containerContent" style="padding-top:100px;height:100%">
<div class="menu"></div>
<div class="menu2"></div>
<div class="toolTitle"></div>
<div class="content" style="margin: auto;text-align: center;align:center;width: 90%;"></div>
</div>
<div class="errorRequest" style="color:#a94442;background-color:#f2dede"></div>

</div>
<div class="thefooter">
<div style="margin:auto;text-align:center" class="subscribetDiv"><button class="subscribeButton button pill icon rss">Subscribe to database</button></div>
<span id="year"></span> &copy; <a style="color:white" href="http://daqbroker.com">daqbroker.com</a> (<a class="legalClick">legal</a>)
</div>
</div>
<script>
$('#year').append(new Date().getFullYear());
var globalObject={}; //This object contains all pertinent information to handle data
var plotTypes=['Timeseries','Surface','Bar Chart','External Source'];

var setupOngoing=false;
var originalClose=$.colorbox.close;
var globalInstruments;
var globalImport;

$.colorbox.close=function(){
	var response;
	if(setupOngoing){
		response = confirm('Are you sure you want to cancel the process?');
		if(!response){
			return;
		}
	}
	setupOngoing=false;
	originalClose();
};
setupSubscribe();


$(document).ready( function() {
	$('.legalClick').click(function(){
		$.alert({
			title    :  'External contributions',
			content  :  '<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>',
			backgroundDismiss: true
		});
	});
});

//setTimeout(checkUpdate,500);
setTimerFunction=setInterval(checkUpdate, 30000);
setInterval(periodicCheckLimits, 120000);

</script>
</body>
</html>

