<!DOCTYPE html>

<html>
 <head>
	
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include 'imports.html' %}
	<title>Administrator</title>
	
	</head>
	<body>
	<div class="thebody">
	<div id="main">

		<div class="headerMenu" style="background-color:#333;width:100%;display:table">
			<div style="width:50%;display:table-cell;text-align:left;padding-left:10px;"><a class="homeIcon" style="cursor:pointer"><img src="/static/hamburger.svg" width="22px" height="22px"></img>  DAQBroker</a><a style="font-size:15px">   Database Administrator</a></div>
			<div style="width:50%;display:table-cell;text-align:right;padding-right:10px;"> <a class="hamburger" style="cursor:pointer"><img src="/static/settings2.png" width="25px" height="25px"></img></a></div>
		</div>

	
		{% include 'menus.html' %}<!-- USE THE menus.html file to import the menus -->
		
		<div class="loading" style="padding-top:75px;margin:auto;text-align:center">
			<img src="/static/loading.gif" width="70px" height="70px"> </img>
		</div>
		
		<div class="content" style="padding-top:75px;display:none;width:100%">
			<h4 style="text-align:left"> Choose an action </h4>
			<div id="selectAdminDiv" style="text-align:left">
				<select id="selectAdmin" onchange="chooseAdminStuff()">
					<option value="1">Users</option>
					<option value="2">Databases</option>
				</select>
			</div>
			<div id="dbStuff" style="width:100%" style="display:none">
				<h3 class="display" align="middle" >Databases</h3>
				<table id="dbTable" class="display"  cellspacing="0">
					
				</table>
				<div class="buttons" align="middle"><button onclick="newDB()" class="newDB">Create new database</button></div>
			</div>
			<div id="userStuff" style="width:100%" style="display:none">
				<h3 class="display" align="middle" >Users</h3>
				<table id="userTable" class="display"  cellspacing="0">
					
				</table>
				<div class="buttons" align="middle"><button onclick="newUser()" class="newUser">Create new user</button></div>
			</div>
			<div id="addonStuff" style="width:100%" style="display:none">
				<h3 class="display" align="middle" >Third-party instrument parsers</h3>
				<table id="addonTable" class="display"  cellspacing="0">
					
				</table>
				<div class="buttons" align="middle"><button onclick="newAddon()" class="newUser">Add new instrument parser</button></div>
			</div>
			<div id="miscStuff" style="width:100%" style="display:none">
			</div>
		</div>
		<div class="lightboxable-outer" style="display:none">
			<div class="lightboxable"></div>
		</div>
	</div>
	<div class="thefooter">
	<!--<div style="margin:auto;text-align:center" class="subscribetDiv"><button class="subscribeButton button pill icon rss">Subscribe to database</button></div>-->
	<span id="year"></span> &copy; <a style="color:white" href="http://daqbroker.com">daqbroker.com</a>
	</div>
	</div>
		<script>
			$('#year').append(new Date().getFullYear());
			$('.settingsList').find('.databaseItem').remove();
			var timeHidden=0;
			var window_focus=true;
			$(window).focus(function() {
				window_focus = true;
			}).blur(function() {
				window_focus = false;
			});

			window.setInterval(function(){
				if(window_focus){
					if(timeHidden>300){
						location.reload();
					}
					else{
						timeHidden=0;
					}
				}
				else{
					timeHidden=timeHidden+1;
				}
			}, 1000);

			first=true;
			var test=JSON.parse(sessionStorage.getItem('daqbroker'));
			if(test){
				if('dbname' in test){
					dbname=test['dbname'];
					founddbname=true;
				}
				else{
					dbname='';
				}
			}
			else{
				dbname='';
			}

			$("#cssmenu").show();
			$('.pageChange').on('mouseup',function(e){
			  var theID=$(this).prop('id');
			  changePage(theID,e.which);
			});

			checkSettings(false,function(){
				$(".content").show();
				$(".loading").hide();
				$("#selectAdmin").trigger('change');
			});

			function chooseAdminStuff(){
				var foundStuff=JSON.parse(sessionStorage.getItem('daqbroker'));
				if (foundStuff){
					if('adminSelect' in foundStuff && first){
						$("#selectAdmin").val(foundStuff['adminSelect']);
						first=false;
					}
				}
				if($("#selectAdmin").val()=='1'){
					populateUsers();
				}
				else if($("#selectAdmin").val()=='2'){
					populateDBs();
				}
				if(foundStuff){
					foundStuff['adminSelect']=$("#selectAdmin").val();
				}
				else{
					foundStuff={'adminSelect':$("#selectAdmin").val()};
				}
				sessionStorage.setItem('daqbroker',JSON.stringify(foundStuff));
			}
			
			function populateDBs(server){
				$("#dbStuff").show();
				$("#miscStuff").empty();
				$("#miscStuff").hide();
				$("#userStuff").hide();
				$("#addonStuff").hide();
				if(!(typeof runTableDB==='undefined')){
					runTableDB.clear();
					runTableDB.draw();
				}
				else{
					tableCols=[{data: 'Name',"name":'Name',"title":'Name',"width":"100px",'idx':1},{data: 'Active',"name":'Active',"title":'Active',"width":"100px",'idx':1},{data: 'edit',"name":'edit',"title":'edit',"width":"100px",'idx':1}];
					tableColsDef=[{"width":"50px"},{"width":"50px"},{"width":"50px"}];
					runTableDB=$('#dbTable').DataTable({
						columns: tableCols,
						"columnDefs":tableColsDef,
						"oLanguage": {
							"sEmptyTable":     "No databases found, make one!"
						}
					});
				}
				$.ajax({
					method: "POST",
					url:"/daqbroker/checkDatabases",
					data:{"_csrf_token":$(".sessionToken").val()},
					dataType: "json",
					success: function(returned) {
						for (var i=0; i<returned.length; i++){
							if(returned[i].active=="1"){
								var activeStr='<span style="color:green">Active</span>';
							}
							else if(returned[i].active=="0"){
								var activeStr='<span style="color:red">Inactive</span>';
							}
							else{
								var activeStr='<span style="color:red">Undefined</span>';
							}
							var line={
								'Name'   : returned[i].dbname,
								'Active' : activeStr,
								'edit'   : '<button class="editDB button pill icon settings"></button><button class="delDB button pill icon remove danger"></button>',
							};
							var newRow=runTableDB.row.add(line).draw(false);
							var elementEdit=$(newRow.node()).find('.editDB');
							var elementDel=$(newRow.node()).find('.delDB');
							var db=returned[i];
							setupDBEdit(elementEdit,db);
							setupDBDel(elementDel,db);
						}
						runTableDB.draw();
					},
					error: function(returned){
						var n=new Noty({
							text    :  'Error requesting database information, make sure your credentials are correct or contact your database administrator<div class="errorMsg">'+JSON.stringify(returned)+'</div>',
							theme     :  'relax',
							type      :  'warning',
							timeout   :  5000,
							closeWidth:  ['button'],
							buttons   : [
								Noty.button('More', 'btn btn-error', function () {
									$(n.barDom).find('.errorMsg').toggle();
									if($(n.barDom).find('.errorMsg').is(':visible')){
										n.resume();
										$(this.dom).html('Less');
									}
									else{
										n.stop();
										$(this.dom).html('More');
									}
								}),
								Noty.button('Close', 'btn btn-error', function () {
									n.close();
								})
							]
						}).show();
					}
				});
			}
			
			function setupDBDel(el,db,server){
				el.click(function(){
					//var r=confirm('This action will destroy this database, ALL data associated with it will be DELETED. Are you sure you want to continue?');
					$.confirm({
						title: 'Delete Database',
						content: 'This action will destroy this database, ALL data associated with it will be DELETED. Are you sure you want to continue?',
						autoClose: 'cancel|10000',
						type: 'orange',
						buttons: {
							deleteUser: {
								text: 'Delete Database',
								btnClass: 'btn-red',
								action: function () {
									el.html('<img src="/static/loading.gif" width="10px" height="10px"> </img>');
									$.ajax({
										method: "POST",
										url:"deleteDatabase",
										data:{'dbnameDelete':db.dbname,'server':server},
										dataType: "json",
										success: function(returned) {
											delete dbname
											sessionStorage.removeItem('daqbroker');
											new Noty({
												text      :  'Database \''+db.dbname+'\' successfully deleted!',
												theme     :  'relax',
												type      :  'success',
												timeout   :  5000
											}).show();
											populateDBs();
											el.html('');
										},
										error:function(returned){
											new Noty({
												text    :  'Could not delete database \''+db.dbname+'\', please try again or contact your network admininstrator with the details from this error. <br> '+JSON.stringify(returned),
												theme   :  'relax',
												type    :  'error'
											}).show();
											el.html('');
										}
									});
								}
							},
							cancel:{
								text: 'Cancel',
								btnClass: 'btn-blue',
								action: function () {
									console.log("canceled")
								}
							}
						}
					});
				});
			}
			
			function setupDBEdit(el,db,server){
				el.click(function(){
					$('.lightboxable').empty();
					$('.lightboxable').append('<h3 style="text-align:center;margin:auto">Database edit  - '+db.dbname+'</h3><hr style="text-align:center;margin:auto;width:25%"><div><label class="active" > Active : <label class="switch"> <input class="theActiveButton" type="checkbox"><div class="slider round"></div></label></div><div class="loadingDiv" hidden><img src="/static/loading.gif" width="25px" height="25px"> </img></div>');
					$('.active').find('.theActiveButton').click(function(e){
						$('.lightboxable').find('.loadingDiv').show();
						$.colorbox.resize();
						e.preventDefault();
						$.ajax({
							method: "POST",
							url:"toggleDatabase",
							data:{'dbname':db.dbname,server},
							dataType: "json",
							success: function(returned) {
								$('.lightboxable').find('.loadingDiv').hide();
								new Noty({
									text      :  'Database \''+db.dbname+'\' successfully edited!',
									theme     :  'relax',
									type      :  'success',
									timeout   :  5000
								}).show();
								$('.active').find('.theActiveButton').prop('checked',!$('.active').find('.theActiveButton').prop('checked'));
								setupDBEdit(el,db);
								populateDBs();
								$.colorbox.resize();
							},
							error:function(){
								$('.lightboxable').find('.loadingDiv').hide();
								new Noty({
									text    :  'Could not apply edits to database \''+db.dbname+'\', please try again or contact your network admininstrator with the details from this error. <br> '+JSON.stringify(returned),
									theme   :  'relax',
									type    :  'error'
								}).show();
								$.colorbox.resize();
							}
						});
					});
					if(db.active=='1'){
						$('.active').find('.theActiveButton').prop('checked',true);
					}
					$.colorbox({
						inline:true,
						href:$(".lightboxable"),
						onOpen:function(){
							$(".lightboxable-outer").show();
						},
						onCleanup:function(){
							$(".lightboxable-outer").hide();
							globalUpdateOngoing=false;
						},
						width:"75%",
						maxWidth: "1000px",
						closeButton	:false
					});
				});
			}
			
			function newDB(){
				$.ajax({
					method: "POST",
					url:"/daqbroker/checkDatabases",
					data:{"_csrf_token":$(".sessionToken").val()},
					dataType: "json",
					success: function(returned,status,derp) {
						var dbs=returned;
						$('.lightboxable').empty();
						$('.lightboxable').append('<h3 style="text-align:center;margin:auto">Database edit </h3><hr style="text-align:center;margin:auto;width:25%"><div>Name : <input class="newDbname"></input> <span class="errorSpan"></span></div><div>Type : <select class="createType"><option selected value="0">Empty database</option><option value="1">Copy database</option></select></div><div class="copyDBDiv"></div><div class="submit" style="margin:auto;text-align:center"></div>');
						$('.lightboxable').find(".newDbname").on('input',function(){
							$('.lightboxable').find('.submit').empty();
							$('.lightboxable').find('.errorSpan').empty();
							var newName=$(this).val();
							var repeatedName=false;
							for (var i=0; i<dbs.length; i++){
								if(newName==dbs[i].dbname){
									repeatedName=true;
									break
								}
							}
							if(!repeatedName && newName!=''){
								if($('.lightboxable').find(".createType").val()=="1"){
									var toSend={'newName':$('.lightboxable').find(".newDbname").val(),'createType':$('.lightboxable').find(".createType").val(),'copyDB':$('.lightboxable').find(".copyDB").val()};
								}
								else{
									var toSend={'newName':$('.lightboxable').find(".newDbname").val(),'createType':$('.lightboxable').find(".createType").val()};
								}
								$('.lightboxable').find('.submit').append('<button class="newDB button pill" style="font-size:150%">Create</button>');
								$('.lightboxable').find('.submit').find('.newDB').click(function(){
									var el=$(this);
									el.html('<img src="/static/loading.gif" width="30px" height="30px"> </img>');
									$.ajax({
										method: "POST",
										url:"createDatabase",
										dataType: "json",
										data: toSend,
										success: function(returned,status,derp) {
											new Noty({
												text      :  'Database \''+toSend.newName+'\' was created successfully!',
												theme     :  'relax',
												type      :  'success',
												timeout   :  5000
											}).show();
											$.colorbox.close();
											populateDBs();
										},
										error: function(returned,status,derp) {
											new Noty({
												text    :  'Could not create database \''+toSend.newName+'\', please try again or contact your network admininstrator with the details from this error. <br> '+JSON.stringify(returned),
												theme   :  'relax',
												type    :  'error'
											}).show();
											$.colorbox.close();
											el.html('Create');
										}
									});
								});
							}
							else{
								$('.lightboxable').find('.errorSpan').css({'color':'red'});
								$('.lightboxable').find('.errorSpan').append('This name is unavailable');
							}
							$.colorbox.resize();
						});
						$('.lightboxable').find(".createType").on('change',function(){
							$('.lightboxable').find(".copyDBDiv").empty()
							if($(this).val()=="1"){
								$('.lightboxable').find(".copyDBDiv").append('Copy : <select class="copyDB"></select>');
								for (var i=0; i<dbs.length; i++){
									$('.lightboxable').find(".copyDB").append('<option value="'+i+'">'+dbs[i].dbname+'</option>');
								}
							}
							$.colorbox.resize();
						});
						$.colorbox({
							inline:true,
							href:$(".lightboxable"),
							onOpen:function(){
								$(".lightboxable-outer").show();
							},
							onCleanup:function(){
								$(".lightboxable-outer").hide();
								globalUpdateOngoing=false;
							},
							width:"75%",
							maxWidth: "1000px",
							closeButton	:false
						});
					},
					error:function(){
						alert('There was an error processing your request');
					}
				});
			}

			function populateUsers(){
				$("#dbStuff").hide();
				$("#miscStuff").empty();
				$("#miscStuff").hide();
				$("#userStuff").show();
				$("#addonStuff").hide();
				if(!(typeof runTableUser==='undefined')){
					runTableUser.clear();
					runTableUser.draw();
				}
				else{
					tableCols=[{data: 'Name',"name":'Name',"title":'Name',"width":"100px",'idx':1},{data: 'Type',"name":'Type',"title":'Type',"width":"100px",'idx':1},{data: 'edit',"name":'edit',"title":'edit',"width":"100px",'idx':1}];
					tableColsDef=[{"width":"50px"},{"width":"50px"},{"width":"50px"}];
					runTableUser=$('#userTable').DataTable({
						columns: tableCols,
						"columnDefs":tableColsDef,
						"oLanguage": {
							"sEmptyTable":     "No users found, make one!"
						}
					});
				}
				$.ajax({
					method: "POST",
					url:"checkUsers",
					dataType: "json",
					success: function(returned,status,derp) {
						for (var i=0; i<returned.length; i++){
							if(returned[i].type==1){
								var typeStr='Administrator';
							}
							else if(returned[i].type==2){
								var typeStr='Operator';
							}
							else if(returned[i].type==3){
								var typeStr='User';
							}
							else if(returned[i].type==4){
								var typeStr='Guest';
							}
							else{
								var typeStr='Undefined';
							}
							var line={
								'Name'   : returned[i].username,
								'Type' : typeStr,
								'edit'   : '<button class="editUser button pill icon settings"></button><button class="delUser button pill icon remove danger"></button>',
							};
							var newRow=runTableUser.row.add(line).draw(false);
							var elementEdit=$(newRow.node()).find('.editUser');
							var elementDel=$(newRow.node()).find('.delUser');
							var user=returned[i];
							console.log("NOT THIS?!");
							setupUserEdit(elementEdit,user);
							setupUserDel(elementDel,user);
						}
						runTableUser.draw();
					},
					error:function(returned){
						var n=new Noty({
							text    :  'Error requesting user information, make sure your credentials are correct or contact your database administrator<div class="errorMsg">'+JSON.stringify(returned)+'</div>',
							theme     :  'relax',
							type      :  'warning',
							timeout   :  5000,
							closeWidth:  ['button'],
							buttons   : [
								Noty.button('More', 'btn btn-error', function () {
									$(n.barDom).find('.errorMsg').toggle();
									if($(n.barDom).find('.errorMsg').is(':visible')){
										n.resume();
										$(this.dom).html('Less');
									}
									else{
										n.stop();
										$(this.dom).html('More');
									}
								}),
								Noty.button('Close', 'btn btn-error', function () {
									n.close();
								})
							]
						}).show();
					}
				});
			}

			function setupUserDel(el,user){
				el.click(function(){
					$.ajax({
						method: "POST",
						url:"/daqbroker/getCurrentUser",
						dataType: "json",
						success: function(returned,status,derp) {
							globalUser=returned;
							if(globalUser.username!=user.username){
								$.confirm({
									title: 'Delete User',
									content: 'This action will destroy this user, instruments assigned to this user will become uneditable if you don\'t assign another user to them. Are you sure you want to continue?',
									autoClose: 'cancel|10000',
									type: 'orange',
									buttons: {
										deleteUser: {
											text: 'Delete User',
											btnClass: 'btn-red',
											action: function () {
												user={'userToDelete':user.username};
												el.html('<img src="/static/loading.gif" width="10px" height="10px"> </img>');
												$.ajax({
													method: "POST",
													url:"deleteUser",
													data: user,
													dataType: "json",
													success: function(returned) {
														new Noty({
															text      :  'User \''+user.userToDelete+'\' was successfully deleted!',
															theme     :  'relax',
															type      :  'success',
															timeout   :  5000
														}).show();
														$("#selectAdmin").trigger('change');
														el.html('');
													},
													error:function(returned){
														new Noty({
															text    :  'Could not delete \''+user.userToDelete+'\', please try again or contact your network admininstrator with the details from this error. <br> '+JSON.stringify(returned),
															theme   :  'relax',
															type    :  'error'
														}).show();
														el.html('');
													}
												});
											}
										},
										cancel:{
											text: 'Cancel',
											btnClass: 'btn-blue',
											action: function () {
												console.log("canceled")
											}
										}
									}
								});
							}
							else{
								$.confirm({
									title: 'Delete User',
									content: 'You can\'t delete yourself! Login as another administrator to delete this user',
									autoClose: 'cancel|10000',
									type: 'orange',
									buttons: {
										cancel:{
											text: 'Ok',
											btnClass: 'btn-blue',
											action: function () {
												console.log("canceled")
											}
										}
									}
								});
							}
						},
						error:function(returned){
							var n=new Noty({
								text    :  'Error requesting user information, make sure your credentials are correct or contact your database administrator<div class="errorMsg">'+JSON.stringify(returned)+'</div>',
								theme     :  'relax',
								type      :  'warning',
								timeout   :  5000,
								closeWidth:  ['button'],
								buttons   : [
									Noty.button('More', 'btn btn-error', function () {
										$(n.barDom).find('.errorMsg').toggle();
										if($(n.barDom).find('.errorMsg').is(':visible')){
											n.resume();
											$(this.dom).html('Less');
										}
										else{
											n.stop();
											$(this.dom).html('More');
										}
									}),
									Noty.button('Close', 'btn btn-error', function () {
										n.close();
									})
								]
							}).show();
						}
					});
				});
			}

			function setupUserEdit(el,user){
				el.click(function(){
					$('.lightboxable').empty();
					$('.lightboxable').append('<h3 style="text-align:center;margin:auto">User edit  - '+user.username+'</h3><hr style="text-align:center;margin:auto;width:25%"><div class="nameDiv"><p>Name : <input class="username" value="'+user.username+'"></input></p><p>Password : <input class="userPass" type="password" placeholder="blank to keep currrent"></input></p></div><div class="typeDiv">User type : <select class="userType"><option value="1">Administrator</option><option value="2">Operator</option><option value="3">User</option><option value="4">Guest</option></select></div><div class="submit" style="width:100%;text-align:center;margin:auto;"></div><div class="errorDiv" style="width:100%;text-align:center;margin:auto;"></div>');
					$('.lightboxable').find('.username').val(user.username);
					$('.lightboxable').find('.userType').val(user.type);
					var userChanged={'newUser':false};
					$('.lightboxable').find('input , select').on('input',function(){
						$('.lightboxable').find('.submit').empty();
						userChanged["name"]=$('.lightboxable').find('.username').val();
						userChanged["type"]=$('.lightboxable').find('.userType').val();
						userChanged["passA"]=$('.lightboxable').find('.userPass').val();
						if(user.username!=userChanged.name || user.type!=userChanged.type || userChanged.passA!=''){
							$('.lightboxable').find('.submit').append('<button class="submitChanges button pill" style="font-size:150%">Submit</button>')
							userChanged['oldName']=user.username;
							userChanged['newName']=userChanged.name;
							userChanged['newPassword']=userChanged.passA;
							userChanged['userType']=userChanged.type;
							$('.lightboxable').find('.submit').find('.submitChanges').click(function(){
								$.ajax({
									method: "POST",
									url:"submitUserData",
									data: userChanged,
									dataType: "json",
									success: function(returned) {
										new Noty({
											text      :  'User \''+userChanged.name+'\' was edited successfully!',
											theme     :  'relax',
											type      :  'success',
											timeout   :  5000
										}).show();
										$("#selectAdmin").trigger('change');
										$.colorbox.close();
									},
									error: function(returned){
										new Noty({
											text    :  'Could not edit user \''+userChanged.name+'\', please try again or contact your network admininstrator with the details from this error. <br> '+JSON.stringify(returned),
											theme   :  'relax',
											type    :  'error'
										}).show();
										$.colorbox.resize();
									}
								});
							});
						}
						$.colorbox.resize();
					});
					$.colorbox({
						inline:true,
						href:$(".lightboxable"),
						onOpen:function(){
							$(".lightboxable-outer").show();
						},
						onCleanup:function(){
							$(".lightboxable-outer").hide();
							globalUpdateOngoing=false;
						},
						width:"75%",
						maxWidth: "1000px",
						closeButton	:false
					});
				});
			}
			
			function newUser(){
				$.ajax({
					method: "POST",
					url:"/admin/checkUsers",
					dataType: "json",
					success: function(returned,status,derp) {
						var users=returned
						$('.lightboxable').empty();
						$('.lightboxable').append('<h3 style="text-align:center;margin:auto">New User</h3><hr style="text-align:center;margin:auto;width:25%"><div class="nameDiv"><p>Name : <input class="username"></input><span class="nameThing"></span></p><p>Password : <input class="userPass" type="password"></input> Confirm <input type="password" class="passwordConfirm"></input><span class="imgThing"></span></p></div><div class="typeDiv">User type : <select class="userType"><option value="1">Administrator</option><option value="2">Operator</option><option value="3">User</option><option value="4">Guest</option></select></div><div class="submit" style="width:100%;text-align:center;margin:auto;"></div><div class="errorDiv" style="width:100%;text-align:center;margin:auto;"></div>');
						var userChanged={'newUser':true};
						var confirmed=false;
						var userSame=false;
						$('.lightboxable').find(".userPass , .passwordConfirm").on('input',function(){
							var pass=$('.lightboxable').find(".userPass").val();
							var passConf=$('.lightboxable').find(".passwordConfirm").val();
							$('.lightboxable').find('.imgThing').empty();
							if(pass=="" || passConf==""){
								confirmed=false;
							}
							else if(pass==passConf){
								confirmed=true;
								$('.lightboxable').find('.imgThing').append('<img src="/static/ok.png" height="25" width="25" title="Passwords match"></img>');
							}
							else{
								confirmed=false;
								$('.lightboxable').find('.imgThing').append('<img src="/static/no.png" height="25" width="25" title="PPasswords don\'t match"></img>');
							}
							$('.lightboxable').find('.submit').empty();
							if(confirmed && !userSame){
								userChanged['newPassword']=$('.lightboxable').find(".userPass").val();
								userChanged['userType']=$('.lightboxable').find(".userType").val();
								userChanged['newName']=$('.lightboxable').find(".username").val();
								userChanged['oldName']=$('.lightboxable').find(".username").val();
								if(userChanged['newName']!='' && userChanged['userType']!='' && userChanged['newPassword']!=''){
									$('.lightboxable').find('.submit').append('<button class="submitChanges button pill" style="font-size:150%">Submit</button>');
									$('.lightboxable').find('.submit').find('.submitChanges').click(function(){
										var el=$(this);
										console.log(el.html);
										el.html('<img src="/static/loading.gif" width="30px" height="30px"> </img>');
										$.ajax({
											method: "POST",
											url:"submitUserData",
											data: userChanged,
											dataType: "json",
											success: function(returned) {
												new Noty({
													text      :  'User \''+userChanged.newName+'\' was successfully created!',
													theme     :  'relax',
													type      :  'success',
													timeout   :  5000
												}).show();
												$("#selectAdmin").trigger('change');
												$.colorbox.close();
											},
											error: function(returned){
												el.html('Submit');
												new Noty({
													text    :  'Could not create user \''+userChanged.newName+'\', please try again or contact your network admininstrator with the details from this error. <br> '+JSON.stringify(returned),
													theme   :  'relax',
													type    :  'error'
												}).show();
												$.colorbox.resize();
											}
										});
									});
								}
							}
							$.colorbox.resize();
						});
						$('.lightboxable').find(".username").on('input',function(){
							var testUsername=$('.lightboxable').find(".username").val();
							$('.lightboxable').find(".nameThing").empty();
							userSame=false;
							for (var i=0; i<users.length; i++){ 
								if(testUsername==users[i].name){
									$('.lightboxable').find(".nameThing").append('This user already exists!');
									$('.lightboxable').find(".nameThing").css({'color':'#d9534f'});
									userSame=true;
									break
								}
							}
							$('.lightboxable').find('.submit').empty();
							if(confirmed && !userSame){
								userChanged['newPassword']=$('.lightboxable').find(".userPass").val();
								userChanged['userType']=$('.lightboxable').find(".userType").val();
								userChanged['newName']=$('.lightboxable').find(".username").val();
								userChanged['oldName']=$('.lightboxable').find(".username").val();
								if(userChanged['newName']!='' && userChanged['userType']!='' && userChanged['newPassword']!=''){
									$('.lightboxable').find('.submit').append('<button class="submitChanges button pill" style="font-size:150%">Submit</button>');
									$('.lightboxable').find('.submit').find('.submitChanges').click(function(){
										var el=$(this);
										el.html('<img src="/static/loading.gif" width="30px" height="30px"> </img>');
										$.ajax({
											method: "POST",
											url:"submitUserData",
											data: userChanged,
											dataType: "json",
											success: function(returned) {
												new Noty({
													text      :  'User \''+userChanged.newName+'\' was successfully created!',
													theme     :  'relax',
													type      :  'success',
													timeout   :  5000
												}).show();
												$("#selectAdmin").trigger('change');
												$.colorbox.close();
											},
											error: function(returned){
												new Noty({
													text    :  'Could not create user \''+userChanged.newName+'\', please try again or contact your network admininstrator with the details from this error. <br> '+JSON.stringify(returned),
													theme   :  'relax',
													type    :  'error'
												}).show();
												$.colorbox.resize();
												el.html('Submit');
											}
										});
									});
								}
							}
							$.colorbox.resize();
						});
						$('.lightboxable').find(".userType").on('change',function(){
							$('.lightboxable').find('.submit').empty();
							if(confirmed && !userSame){
								userChanged['newPassword']=$('.lightboxable').find(".userPass").val();
								userChanged['userType']=$('.lightboxable').find(".userType").val();
								userChanged['newName']=$('.lightboxable').find(".username").val();
								userChanged['oldName']=$('.lightboxable').find(".username").val();
								if(userChanged['newName']!='' && userChanged['userType']!='' && userChanged['newPassword']!=''){
									$('.lightboxable').find('.submit').append('<button class="submitChanges button pill" style="font-size:150%">Submit</button>');
									$('.lightboxable').find('.submit').find('.submitChanges').click(function(){
										$.ajax({
											method: "POST",
											url:"submitUserData",
											data: userChanged,
											dataType: "json",
											success: function(returned) {
												new Noty({
													text      :  'User \''+userChanged.newName+'\' was successfully created!',
													theme     :  'relax',
													type      :  'success',
													timeout   :  5000
												}).show();
												$("#selectAdmin").trigger('change');
												$.colorbox.close();
											},
											error: function(returned){
												new Noty({
													text    :  'Could not create user \''+userChanged.newName+'\', please try again or contact your network admininstrator with the details from this error. <br> '+JSON.stringify(returned),
													theme   :  'relax',
													type    :  'error'
												}).show();
												$.colorbox.resize();
											}
										});
									});
								}
							}
							$.colorbox.resize();
						});
						$.colorbox({
							inline:true,
							href:$(".lightboxable"),
							onOpen:function(){
								$(".lightboxable-outer").show();
							},
							onCleanup:function(){
								$(".lightboxable-outer").hide();
								globalUpdateOngoing=false;
							},
							width:"75%",
							maxWidth: "1000px",
							closeButton	:false
						});
					}
				});
			}
			
/* 			function populateAddons(){
				$("#addonStuff").show();
				$("#dbStuff").hide();
				$("#miscStuff").empty();
				$("#miscStuff").hide();
				$("#userStuff").hide();
				if(!(typeof runTableAddon==='undefined')){
					runTableAddon.clear();
					runTableAddon.draw();
				}
				else{
					tableCols=[
						{data: 'Name',"name":'Name',"title":'Name',"width":"100px",'idx':1},
						{data: 'Last',"name":'Last',"title":'Last Check',"width":"100px",'idx':2},
						{data: 'Type',"name":'Type',"title":'Type',"width":"100px",'idx':3},
						{data: 'test',"name":'test',"title":'',"width":"100px",'idx':4}
					];
					tableColsDef=[{"width":"50px"},{"width":"50px"},{"width":"50px"}];
					runTableAddon=$('#addonTable').DataTable({
						columns: tableCols,
						"columnDefs":tableColsDef,
						"oLanguage": {
							"sEmptyTable":     "No addons found!"
						}
					});
				}
				$.ajax({
					method: "POST",
					url:"/daqbroker/checkAddons",
					data:{},
					dataType: "json",
					success: function(returned) {
						var existingAddons=returned;
						for (var i=0; i<returned.length; i++){
							$.ajax({
								method: "POST",
								url:"/daqbroker/scanAddons",
								data:{'filename':returned[i].filename},
								dataType: "json",
								'thisIndex':i,
								'checkedAddon':returned[i].name,
								'lastClock':returned[i].clock,
								success: function(returned,status,derp) {
									if('type' in returned){
										if(returned.type=='fileParser'){
											typeStr='File Parser';
										}
										if(returned.type=='fullParser'){
											typeStr='Independent Parser';
										}
									}
									if(returned.foundexeFile && returned.founduiFile){
										var testStr='<img src="../ok.png" height="25" width="25" title="This addon is running fine"></img>';
									}
									else{
										var testStr='<img src="../no.png" height="25" width="25" title="There were problems locating all the addon\'s components"></img>';
									}
									var line={
										'Name'  : returned.name,
										'Last'  : moment.utc(Number(this.lastClock)).format('YYYY-MM-DD HH:mm:ss'),
										'Type'  : typeStr,
										'test'  : testStr
									};
									var newRow=runTableAddon.row.add(line).draw(false);
									runTableAddon.draw();
								},
								error: function(returned){
									var typeStr='N/A';
									var line={
										'Name'  : this.name,
										'Last'  : moment.utc(Number(this.lastClock)).format('YYYY-MM-DD HH:mm:ss'),
										'Type'  : typeStr,
										'test'  : '<img src="../no.png" height="25" width="25" title="There were problems locating all the addon\'s components"></img>'
									};
								}
							});
						}
					}
				});
			}
			
			function newAddon(){
				$.ajax({
					method: "GET",
					url:"/daqbroker/checkAddons",
					dataType: "json",
					success: function(returned,status,derp) {
						var addons=returned
						$.ajax({
							method: "GET",
							url:"scanAddons.php",
							dataType: "json",
							success: function(returned,status,derp) {
								var scannedAddons=returned;
								var scannedAddonsChecked=[];
								$('.lightboxable').empty();
								$('.lightboxable').append('<div style="background-color:#fcf8e3;margin:auto;text-align:center;width:50%"><p>Using third-party modules may harm your device. Make sure you are retrieving these addons from a trusted source.</p><p>DAQBroker takes no responsibility for damages to your machine as a result of thrid party software usage.</p></div><h3 style="text-align:center;margin:auto">New Addon</h3><hr style="text-align:center;margin:auto;width:25%"><div><p>The list below contains found addon descriptor files.</p><select class="addonSelect"><option>-- SELECT ONE --</option></select><div class="detailsDiv"></div></div>');
								for (var i=0; i<scannedAddons.length; i++){
									scannedAddonsChecked.push({});
									$.ajax({
										method: "POST",
										url:"scanAddons.php",
										data:{'filename':scannedAddons[i]},
										dataType: "json",
										'thisIndex':i,
										success: function(returned,status,derp) {
											scannedAddonsChecked[this.thisIndex]=returned;
											scannedAddonsChecked[this.thisIndex]['originalFilename']=scannedAddons[this.thisIndex];
											$('.lightboxable').find('.addonSelect').append('<option value="'+this.thisIndex+'" title="Author: '+returned.author+'\nDescription: '+returned.description+'">'+returned.name+'</option>');
										},
										error: function(returned){
											$('.lightboxable').find('.addonSelect').append('<option value="'+this.thisIndex+'" title="No info found on this addon">'+scannedAddons[this.thisIndex]+'</option>');
											scannedAddonsChecked[this.thisIndex]['checked']=true;
											scannedAddonsChecked[this.thisIndex]['error']=true;
										}
									});
								}
								$('.lightboxable').find('.addonSelect').change(function(){
									console.log(scannedAddonsChecked[Number($(this).val())]);
									$('.lightboxable').find('.detailsDiv').empty(),
									$('.lightboxable').find('.finish').empty(),
									$('.lightboxable').find('.detailsDiv').append('<h4>Details:</h4>');
									$('.lightboxable').find('.detailsDiv').append('<p><b>Name:</b> '+scannedAddonsChecked[Number($(this).val())].name+'</p>');
									$('.lightboxable').find('.detailsDiv').append('<p><b>Author(s):</b> '+scannedAddonsChecked[Number($(this).val())].author+'</p>');
									$('.lightboxable').find('.detailsDiv').append('<p><b>Description:</b> '+scannedAddonsChecked[Number($(this).val())].description+'</p>');
									$('.lightboxable').find('.detailsDiv').append('<p><b>Contact:</b> '+scannedAddonsChecked[Number($(this).val())].contact+'</p>');
									if(scannedAddonsChecked[Number($(this).val())].foundFolder){
										var line1='<p><b>Folder :</b> '+scannedAddonsChecked[Number($(this).val())].folder+'<img src="../ok.png" height="25" width="25" title="Found folder with source code"></img></p>';
									}
									else{
										var line1='<p><b>Folder :</b> '+scannedAddonsChecked[Number($(this).val())].folder+'<img src="../no.png" height="25" width="25" title="Couldn\'t find folder with source code"></img></p>';
									}
									if(scannedAddonsChecked[Number($(this).val())].founduiFile){
										var line2='<p><b>UI Code :</b> '+scannedAddonsChecked[Number($(this).val())].uiFile+'<img src="../ok.png" height="25" width="25" title="Found UI javascript file"></img></p>';
									}
									else{
										var line2='<p><b>UI Code :</b> '+scannedAddonsChecked[Number($(this).val())].uiFile+'<img src="../no.png" height="25" width="25" title="Couldn\'t find folder with source code"></img></p>';
									}
									if(scannedAddonsChecked[Number($(this).val())].foundexeFile){
										var line3='<p><b>Executable :</b> '+scannedAddonsChecked[Number($(this).val())].exeFile+'<img src="../ok.png" height="25" width="25" title="Found data parser file"></img></p>';
									}
									else{
										var line3='<p><b>Executable :</b> '+scannedAddonsChecked[Number($(this).val())].exeFile+'<img src="../no.png" height="25" width="25" title="Couldn\'t find data parser file"></img></p>';
									}
									$('.lightboxable').find('.detailsDiv').append(line1);
									$('.lightboxable').find('.detailsDiv').append(line2);
									$('.lightboxable').find('.detailsDiv').append(line3);
									$('.lightboxable').find('.detailsDiv').after('<div class="finish" style="margin:auto;text-align-center;align:center;"></div>');
									var notFoundAddon=true;
									for (var i=0; i<addons.length; i++){
										if(addons[i].name==scannedAddonsChecked[Number($(this).val())].name){
											notFoundAddon=false;
										}
									} 
									if(scannedAddonsChecked[Number($(this).val())].foundexeFile && scannedAddonsChecked[Number($(this).val())].founduiFile){
										if(notFoundAddon){
											$('.lightboxable').find('.finish').append('<button class="installAddon button pill" style="font-size:120%">Install addon</button>');
											var thisAddon=scannedAddonsChecked[Number($(this).val())];
											var thisTime=(new Date()).getTime();
											thisAddon['clock']=thisTime;
											$('.lightboxable').find('.finish').find('.installAddon').click(function(){
												$.ajax({
													method: "POST",
													url:"installAddon.php",
													data:{'addon':thisAddon},
													dataType: "json",
													success: function(returned,status,derp) {
														console.log(returned);
														console.log(this);
														if(returned.error=="0"){
															$('.lightboxable').find('.finish').append('<p><span class="erroDiv" style="background-color:#dff0d8">Addon installed successfully</span></p>');
															populateAddons()
															$('.lightboxable').find('.finish').find(".errorDiv").animate({
																opacity:1
															},1500);
															$('.lightboxable').find('.finish').find(".errorDiv").animate({
																opacity:0
															},1500);
															setTimeout(function(){ 
																$.colorbox.close();
															},1500);
														}
														else{
															$('.lightboxable').find('.finish').append('<span class="erroDiv" style="background-color:#f2dede">'+returned.errorMsg+'|'+returned.errorStr+'</span>');
															$('.lightboxable').find('.finish').find(".errorDiv").animate({
																opacity:1
															},3000);
														}
														$.colorbox.resize();
													},
													error: function(returned){
														$('.lightboxable').find('.finish').append('<span class="erroDiv" style="background-color:#f2dede">There was an error handling your request</span>');
														$('.lightboxable').find('.finish').find(".errorDiv").animate({
															opacity:1
														},3000);
														$.colorbox.resize();
													}
												});
											});
										}
										else{
											$('.lightboxable').find('.finish').append('<span style="background-color:#dff0d8">Addon already installed</span>');
										}
									}
									else{
										$('.lightboxable').find('.finish').append('<span style="background-color:#f2dede">Could not find all components, check the details, correct any problems found and try again</span>');
									}
									$.colorbox.resize();
								});
								$.colorbox({
									inline:true,
									href:$(".lightboxable"),
									onOpen:function(){
										$(".lightboxable-outer").show();
									},
									onCleanup:function(){
										$(".lightboxable-outer").hide();
										globalUpdateOngoing=false;
									},
									width:"75%",
									maxWidth: "1000px",
									closeButton	:false
								});
							}
						});
					}
				});
			} */

			/*$(document).ready( function() {
			
				$("#cssmenu").hiraku({
					btn: ".homeIcon",
					fixedHeader: ".headerMenu",
					direction: "left",
					breakpoint: 3000
				});
				
				$(".theSettings").hiraku({
					btn: ".hamburger",
					fixedHeader: ".headerMenu",
					direction: "right",
					breakpoint: 3000
				});
			
				/*$('#cssmenu').slimmenu({
					resizeWidth: '850',
					collapserTitle: '<a class="homeIcon" style="cursor:pointer;">DAQBroker</a>',
					animSpeed: 'medium',
					easingEffect: null,
					indentChildren: false,
					childrenIndenter: '&nbsp;'
				});
			});*/

		</script>

		<script>
			
		</script>
	</body>
</html>
