<!DOCTYPE html>

<html>
<head>
	<title>Instruments</title>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include 'imports.html' %}
	<script src="{{url_for('static', filename='instruments/database.js',version='12052017')}}?q=1280549780"></script>
	<script src="{{url_for('static', filename='instruments/instruments.js',version='12052017')}}?q=1280549780"></script>
</head>
<body>
<script>

$(document).ready(function(){
	checkSettings(listCurrentInstruments);
});

var timeHidden=0;

var window_focus=true;
$(window).focus(function() {
	window_focus = true;
}).blur(function() {
	window_focus = false;
});

window.setInterval(function(){
	if(window_focus){
		if(timeHidden>300){
			//location.reload();
			poop="poop";
		}
		else{
			timeHidden=0;
		}
	}
	else{
		timeHidden=timeHidden+1;
	}
}, 1000);

</script>
<div class="thebody">
<div id="main">

<div class="headerMenu" style="background-color:#333;width:100%;display:table">
	<div style="width:50%;display:table-cell;text-align:left;padding-left:10px;"><a class="homeIcon" style="cursor:pointer"><img src="/static/hamburger.svg" width="22px" height="22px"></img>  DAQBroker</a><a style="font-size:15px">   Instruments</a></div>
	<div style="width:50%;display:table-cell;text-align:right;padding-right:10px;"> <a class="hamburger" style="cursor:pointer"><img src="/static/settings2.png" width="25px" height="25px"></img></a></div>
</div>

<!--<div id='cssmenu' style="background-color:#333">
	<ul class="slimmenu" id="cssmenu-inner">
		<li class="selected"><a id="instruments" href="/daqbroker" class="pageChange" >Instruments</a></li>
		<li><a id="data" href="/daqbroker/data" class="pageChange">Data</a></li>
		<li><a id="runs" href="/daqbroker/runs" class="pageChange">Runs</a></li>
		<li><a id="monitoring" href="/daqbroker/monitoring" class="pageChange">Nodes</a></li>
	</ul>
</div>-->
{% include 'menus.html' %}
<div class="loading" style="padding-top:75px;margin:auto;text-align:center">
	<img src="/static/loading.gif" width="70px" height="70px"> </img>
</div>
<div class="content" style="display:none">
	<div id="instruments" style="padding-top:75px;width:90%;margin:auto;text-align:center">
		<table id="instTable" class="display" cellspacing="0" width="100%">
		</table>
	</div>

	<div id="infoBoxes">
	</div>
	<div id="instRequestCreds">
	</div>
	<div id="requestedInst-outer">
	<div id="requestedInst">
	</div>
	</div>
	<p style="margin:auto;text-align:center">
		<a class="button pill" style="font-size:20px" id="newInst" name="newInst" value="newInst" onclick='newInst()'>New Instrument</a>
	</p>
</div>

<div class="lightboxable-outer">
	<div class="lightboxable">
	</div>
</div>

<!--<div class="theSettings" style="background-color:#333;display:table;height:100%;">
	<ul class="settingsList">
		<li class="pageParent">
			<a>Database:
			<ul style="padding-left:20px">
				<li><a><select class="dbSelector"><option selected hidden disabled>--- CHOOSE ONE ---</option></select></a></li>
			</ul>
		<li>
			<a>Administrate:</a>
			<ul style="padding-left:20px">
				<li class="pageParent"><a style="font-size:18px;" id="admin" href="/daqbroker/admin" class="pageChange">Database Admin</a></li>
				<!--<li class="pageParent"><a style="font-size:18px;" id="adminLocal" href="/daqbroker/adminLocal" class="pageChange">Local Settings</a></li>
				<li class="pageParent"><a style="font-size:18px;" id="adminMonitor" href="/daqbroker/adminLocal" class="pageChange">Monitoring: <span class="status" style="color: #fbba23;" title="No information about the monitoring could be gathered, contact your network administrator if this persists">N/A</span></a></li>
			</ul>
		</li>
		<li class="pageParent"><a id="logout" href="/daqbroker/logout">Logout</a></li>
	</ul>
</div>-->

</div>

<div class="thefooter">
<div style="margin:auto;text-align:center" class="subscribetDiv"><button class="subscribeButton button pill icon rss">Subscribe to database</button></div>
<span id="year"></span> &copy; <a style="color:white" href="http://daqbroker.com">daqbroker.com</a>
</div>
</div>
<script>
$('#year').append(new Date().getFullYear());
setupSubscribe();

/*$(document).ready( function() {
	$("#cssmenu").hiraku({
		btn: ".homeIcon",
		fixedHeader: ".headerMenu",
		direction: "left",
		breakpoint: 3000
	});
	
	$(".theSettings").hiraku({
		btn: ".hamburger",
		fixedHeader: ".headerMenu",
		direction: "right",
		breakpoint: 3000
	});
})*/

</script>

</body>
</html>
