h1 {
	color: #eee;
	font: 30px Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0px 1px black;
	text-align: center;
	margin-bottom: 50px;
}

// Breakpoints
/*$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px
$bp-xxxlarge: 240em; // 3840px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$bp-xxxlarge: "(min-width: #{$bp-xxxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";*/


/*input[type=checkbox] {
	visibility: hidden;
}*/

	/* SLIDE THREE */
	.slideThree {
		position: absolute;
		right: 0px;
		width: 140px;
		height: 26px;
		background: #333;

		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;

		-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
		-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
		box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	}

	.slideThree:after {
		content: 'INACTIVE';
		font: 12px/26px Arial, sans-serif;
		color: #F00;
		position: absolute;
		right: 10px;
		z-index: 0;
		font-weight: bold;
		text-shadow: 1px 1px 0px rgba(255,255,255,.15);
	}

	.slideThree:before {
		content: 'ACTIVE';
		font: 12px/26px Arial, sans-serif;
		color: #00bf00;
		position: absolute;
		left: 10px;
		z-index: 0;
		font-weight: bold;
	}

	.slideThree label {
		display: block;
		width: 65px;
		height: 20px;

		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;

		-webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		-o-transition: all .4s ease;
		-ms-transition: all .4s ease;
		transition: all .4s ease;
		cursor: pointer;
		position: absolute;
		top: 3px;
		left: 3px;
		z-index: 1;

		-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		background: #fcfff4;

		background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	}

	.slideThree input[type=checkbox]:checked + label {
		left: 70px;
	}

	.button {
		display: inline-block;
		padding: 3px 5px;
		border: 1px solid #000;
		background: #eee;
	}

	.headerMenu a{
		color:#fff;
		text-decoration: none;
	}
	
	#cssmenu li:hover{
		font-weight:bold;
		background-color: #111;
	}
	
	#cssmenu ul{
		padding-left:5px;
		list-style-type:none;
	}
	
	#cssmenu ul li{
		padding-top:10px;
	}
	
	#cssmenu li a{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color:#fff;
		text-decoration: none;
		font-size:25px;
	}
	
	#cssmenu li.selected{
		background-color: #111;
		font-weight:bold;
	}
	
	.homeIcon{
		color:#fff;
		text-decoration: none;
		font-size:25px;
	}
	
	.homeIcon:hover{
		/*font-size:110%;*/
		font-weight:bold;
	}

	.monitoring .process{
		font-size:23px;
	}

	.monitoring h4{
		font-size:25px;
	}

	.monitoring button{
		font-size:20px;
	}

	.warning{
		background: #C93636;
		border-radius: 0.5em 0.5em 0.5em 0.5em;
		position:relative;
		width:55vw;
		pading-top:5vh;
		pading-bottom:2vh;
		pading-left:2vw;
		pading-right:2vw;
		display: block;
		margin: 0 auto;
		text-align:center;
		font-size:18;
	}

	.theSettings li.pageParent:hover{
		font-weight:bold;
		background-color: #111;
	}
	
	.theSettings ul{
		padding-left:5px;
		list-style-type:none;
	}
	
	.theSettings ul select{
		max-width:170px;
		font-size:18px;
	}
	
	.theSettings li{
		padding-top:10px;
	}
	
	.theSettings li a{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color:#fff;
		text-decoration: none;
		font-size:22px;
	}

	.theSettings div a:hover{
		background-color: #BBB;
		font-weight:bold;
		color:#fff;
		text-decoration: none;
	}

	.theSettings .dbSelector{
		color:#000;
	}

	.thebody{
		display: flex;  /* use the flex model */
		min-height: 100%;
		flex-direction: column;
		overflow-x : hidden;
	}
	
	#main {
		flex: 1;
		overflow: auto;
		padding-bottom: 55px; /* must be same height as the footer */
	}

	html, body {
		height: 100%;
		margin: 0; padding: 0;  /* to avoid scrollbars */
	}

	.thefooter {
		height: 55px;
		padding:15px;
		background-color: #555;
		width:100%;
		overflow-x : hidden;
		overflow-y : hidden;
		text-align: center;
		color: white;
	} 

	.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	}

	.switch input {display:none;}

	.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
	}

	.slider:before {
		  position: absolute;
		  content: "";
		  height: 26px;
		  width: 26px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
	}

	input:checked + .slider {
		background-color: #2196F3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	.menu > .option , .menu2 > .option{
		width:100%;
		height:100%;
		border-radius: 25px;
		text-align:center;
		margin:auto;
		box-shadow: 0 9px #999;
	}
	
	.menu > .option:hover , .menu2 > .option:hover{
		cursor:pointer;
	}
	
	.menu > .option:active , .menu2 > .option:active{
		background-color: #3e8e41;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
		cursor:pointer;
	}
	
	.menu > .option.selected , .menu2 > .option.selected{
		background-color: #3e8e41;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
		cursor:pointer;
	}
	
	.menu > .option.one , .menu2 > .option.one{
		background-color:#ea5080;
	}
	
	.menu > .option.two , .menu2 > .option.two{
		background-color:#00c08b;
	}
	
	.menu > .option.three , .menu2 > .option.three{
		background-color:#53bfe2;
	}
	
	.menu > .option img , .menu2 > .option img {
		width:80%;
		height:80%;
	}
	
	.menu > .option > div , .menu2 > .option > div {
		height:20%;
		text-align:center;
		display:flex;
		/*vertical-align:middle;
		width:100%;*/
		justify-content:center;
		align-items:center;
		font-width:bold;
		font-size:180%;
	}
	
	.menu, .menu2{
		justify-items: center;
		align-items: center;
		justify-content: space-evenly;
		text-align:center;
		margin:auto;
	}
	
	.content {
		justify-items: center;
		align-items: center;
		justify-content: space-evenly;
		text-align:center;
		margin:auto;
	}
	
	.channelSelectorSpecial {
		width:auto;
	}
	
	
/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
	
	.pageChange{
		cursor:pointer;
	}
	
	.logShow{
		margin:30px;
		padding: 10px;
		border: 1px solid #CCC;
		border-radius: 1em;
	}
	
	/*SMART PHONE ONLY STUFF*/
	@media only screen 
		and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait),
	only screens
		and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
			.menu > .option{
				opacity:1;
			}
			
			.menu > .option > div {
				width:100%;
				height:20%;
				text-align:center;
				font-size:70%;
			}
	}
	
